@import "./colors.scss";

$ease: cubic-bezier(0.25, 0.46, 0.45, 0.94);

.button {
  background: transparent;
  border: none;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  transition: .5s $ease;
  padding: 10px 20px;
  border-radius: 3px;
  display: flex;
  align-items: center;

  .icon-left,
  .icon-right {
    height: 24px;
  }

  .icon-left {
    margin-right: 5px;
  }

  .icon-right {
    margin-left: 5px;
  }

  &:hover {
    background: $btn-hover-bg;
  }
}

.section {
  padding: 0 10%;
  box-sizing: border-box;
}

.label {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 8px;
}

.text-input {
  margin-bottom: 20px;
  margin-top: 0;

  &:last-of-type {
    margin-bottom: 0px;
  }

  &::v-deep .v-input__slot {
    background-color: rgba(255, 255, 255, 0.5);
    // border-top-left-radius: 5px;
    // border-top-right-radius: 5px;
  }

  &::v-deep input {
    padding: 0 10px;
  }
}