$btn-hover-bg: rgba(black, 0.1);
$blue: rgb(54, 116, 255);
$yellow: rgb(255, 153, 0);
$green: rgb(0, 152, 99);
$red: rgb(177, 0, 62);
$greyDark: rgb(109, 109, 109);
$greyLight: rgba(0, 0, 0, 0.05);
$darkBorderAccentColor: rgba(0, 0, 0, 0.2);
$white50alpha: rgba(255, 255, 255, 0.5);
;